@use "../../sass/main.sass"

@keyframes animation-hide
    from
        opacity: 1
        transform: translate(0)

    50%
        opacity: 1
        transform: translate(0%)

    to
        opacity: 0
        transform: translate(0%)



$secondaryContainter: var(--star4-color-secondary-container)
$onSecondaryContainter: var(--star4-color-on-secondary-container)
.start-div
    height: 100%
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    color: black
    &__section
        display: flex
        flex-direction: column
        align-items: stretch
        justify-content:  space-evenly
        height: 50%
        width: 90%
        @include main.responde(mobile-low)
            width: 95%
            height: 55%
    &__start-text
        font-size: 2rem
        text-align: center
        color: black
        z-index: 101
        background-color: white
        border-radius: 10rem
        padding: 2rem
        @include main.responde(mobile-low)
            padding: 1.5rem
            font-size: 1.5rem
    &__shawarma
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover

.question-div
  height: 100vh
  width: 100vw
  display: grid
  justify-items: center
  gap: 1rem
  grid-template-columns: minmax(27rem, 80rem)
  grid-template-rows: 10rem 6rem minmax(15rem, 20rem) minmax(18rem, 22rem)
  z-index: 2
  &__img
    width: 102%
    height: 102%
    position: absolute
    z-index: 1
    object-fit: cover
    filter: saturate(40%)
  &__buttons
    display: flex
    justify-content: space-evenly
    align-items: stretch
    flex-direction: column
    z-index: 2
  &__text
    display: block
    width: 100%
    font-size: 2rem
    font-weight: 900
    z-index:2
    background-color: white
    color: black
  &__event
    max-width: 50rem
    width: 90%
    height: 90%
    border-radius: 40px
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    z-index: 2
    background-color: white

.white
    background-color: white
    color: black

.black-window
    background-color: rgba(black, 1)
    z-index: 100
    position: absolute
    width: 102%
    height: 102%
    top: 0
    display: flex
    transition: all .2s ease-in-out
    justify-content: center
    align-items: center
    opacity: 0
    z-index: -100
    &__container
        width: 100%
        max-width: 50rem
        height: 50%
        display: flex
        flex-direction: column
        justify-content: space-around
        align-items: center
        text-align: center
    h1
        z-index: 101
        color: white
        line-height: 120%
        font-size: 2rem
        display: inline-block
        width: 90%
    &__button
        z-index: 101
        width: 85%
    &_active
        opacity: 1
        z-index: 100
