@use "~/sass/star4"


$corner: 56px
$backdrop-color: star4.color(surface)
$shade-color: star4.color(surface-container)

@keyframes backdrop-filter-enter
  from
    backdrop-filter: blur(0px)
  to
    backdrop-filter: blur(8px)

@keyframes backdrop-opacity-enter
  from
    background-color: transparent
  to
    background-color: $backdrop-color

.backdrop
  position: absolute
  inset: 0

  backdrop-filter: blur(0px)
  // background-color: $backdrop-color
  background-color: transparent

  z-index: 1

  animation-name: backdrop-filter-enter, backdrop-opacity-enter
  animation-duration: 200ms
  animation-timing-function: linear
  animation-fill-mode: backwards

  &--visible
    backdrop-filter: blur(8px)
    background-color: $backdrop-color

  &--exiting
    transition-property: backdrop-filter, background-color
    transition-duration: 200ms
    transition-timing-function: star4.easing(emphasized-accelerate)

@keyframes shade-enter
  from
    bottom: 100%
    transform: translateY(calc(-1 * $corner))

@keyframes corner-enter
  from
    transform: scale(1)

.shade
  position: absolute
  inset: 0
  background-color: $shade-color

  overflow: hidden
  z-index: 2

  animation-name: shade-enter
  animation-duration: 800ms
  animation-timing-function: star4.easing(emphasized)
  animation-fill-mode: backwards
  overflow: visible

  bottom: 100%
  transform: translateY(calc(-1 * $corner))

  &::before, &::after
    content: ""
    position: absolute
    top: 100%
    width: $corner
    height: $corner
    background-color: $shade-color
    transform: scale(1)
    animation-name: corner-enter
    animation-duration: 800ms
    animation-timing-function: star4.easing(emphasized)
    animation-fill-mode: backwards

  &::before
    left: 0
    transform-origin: top left
    mask-image: radial-gradient($corner at 100% 100%, #0000 99%, #000 101%)

  &::after
    right: 0
    transform-origin: top right
    mask-image: radial-gradient($corner at 0% 100%, #0000 99%, #000 101%)

  &--visible
    bottom: 0
    transform: translateY(0)
    &::before, &::after
      transform: scale(0)

  &--exiting
    transition-property: bottom, transform
    transition-duration: 200ms
    transition-timing-function: star4.easing(emphasized-accelerate)

    &::before, &::after
      transition-property: transform
      transition-duration: 200ms
      transition-timing-function: star4.easing(emphasized-accelerate)

  &__scroller
    position: absolute
    inset: 0
    overflow-x: hidden
    overflow-y: scroll

    &--animating
      overflow-y: hidden

  &__header
    &#{&}
      background-color: $shade-color
    &--scrolled-under
      &#{&}
         background-color: star4.color(surface-container-highest)




.glossary
  &__content
    max-width: 840px
    min-height: 70vh
    margin-inline: auto
    padding-inline: 16px

    @include star4.layout(compact, medium)
      padding-inline: 16px
    @include star4.layout(expanded, extra-large)
      padding-inline: 24px

    @include star4.typescale(body, large)
  &__h2
    @include star4.typescale(title, medium)
  &__icons-card
    padding-block: 8px
    border-radius: star4.shape(small)
    border: 1px solid star4.color(outline)
  &__action
    position: sticky
    bottom: 0
    display: flex
    aling-items: center
    justify-content: center
    padding-inline: 16px
    padding-block: 16px
    background-color: star4.color(surface-container)

    @include star4.layout(compact, medium)
      padding-inline: 16px
    @include star4.layout(expanded, extra-large)
      padding-inline: 24px
